h1 {
  font-size: 2em;
}

canvas {
  width: 800px;
}

.surveyField {
  border: 2px dashed orange;
  width: 725px;
  margin: auto;
}

.imageRow {
  border: 2px dashed green;
  width: 200px;
  margin: 10px;
}

.chartField {
  width: 1200px;
}
